---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Rubik:wght@300;400&display=swap');
/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: #EDEDED;
  font-family: 'Rubik', sans-serif;
  direction: rtl;
  font-size: 28px;
  font-weight: 300;
  color: #565656;
  text-align: justify;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  max-width: 610px;
  padding: 0 10px;
  width: 85%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  color: #565656;
  font-weight: 400;

  line-height: 1.5;
  margin: 1em 0 15px;
  padding: 0;

}

h1 {
  font-size: 37px;
  a {
    color: #565656;
    text-decoration: none;
  }
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 30px;
  color: #565656;
}

a:link {
  color: #517BC1;
}

a:hover {
  color: #6183BC;
}

a:active {
  color: #6183BC;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 500;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: #517BC1;
}

// Specify the color of the selection
::-moz-selection {
  color: #fff;
  background: #517BC1;
}
::selection {
  color: #fff;
  background: #517BC1;
}

.site-name {
  margin: 0;
  color: #5556DE;
  cursor: pointer;
  font-family: 'IBM Plex Sans Arabic', serif;
  font-weight: 400;
  font-size: 37px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #5556DE;
  font-size: 24px;

}
nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 18px;


  a {
    margin-left: 20px;
    color: #517BC1;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

  }
}
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 0px solid #DAD9D9;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid #517BC1;
    padding: 0.1em 1em;
    color: #1aa478;
    font-size: 24px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 26px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #EDEDED;
}

footer {
  padding: 20px 0;
  text-align: center;
 font-size: 26px;
}
